<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{% block pagetitle %}Welcome dear Voter !{% endblock %}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css" 
  rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>
    <section class="hero is-info is-medium is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            {% block title %}RateMe{% endblock %}
            </h1>
            <h1 class="subtitle">
              {% block subtitle %}...{% endblock %}
              </h1>
            </div>
          </div>
        </section>
        {% if app.request.hasPreviousSession %}
         {% for type, messages in app.session.flashbag.all() %}
           {% for message in messages %}
             <div class="notification  is-{{ type }}">
               {{ message }}
             </div>
           {% endfor %}
         {% endfor %}
       {% endif %}

       
    {% block body %}{% endblock %}   
        
    {% block javascripts %}{% endblock %}
    <script src="/js/app.min.js" ></script>
  </body>
</html>